html,
body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100%;
  height: 100%;
  position: relative;
  color: lightgray;
  background: url(./img/background.jpeg) center/cover;
  background-attachment: fixed;
}

li {
  list-style: none;
}
